
     {
        "page": {
          "body": {
            "container": {
              "style": {
                "background-color": "#4f4f4f"
              }
            },
            "content": {
              "computedStyle": {
                "linkColor": "#0068A5",
                "messageBackgroundColor": "transparent",
                "messageWidth": "560px"
              },
              "style": {
                "color": "#000000",
                "font-family": "Verdana, Geneva, sans-serif"
              }
            },
            "type": "mailup-bee-page-properties",
            "webFonts": [
                           {
                             "family": "Verdana, Geneva, sans-serif",
                             "fontFamily": "Verdana, Geneva, sans-serif",
                             "fontName": "Verdana",
                             "name": "Verdana"
                           }
                         ]
          },
          "description": "",
          "rows": [
                    {
                      "columns": [
                                   {
                                     "grid-columns": 12,
                                     "modules": [
                                                       {
                                                         "descriptor": {
                                                           "computedStyle": {
                                                             "hideContentOnMobile": false
                                                           },
                                                           "style": {
                                                             "padding-bottom": "10px",
                                                             "padding-left": "10px",
                                                             "padding-right": "10px",
                                                             "padding-top": "10px"
                                                           },
                                                           "text": {
                                                             "computedStyle": {
                                                               "linkColor": "#0068A5"
                                                             },
                                                             "html": "<div class='txtTinyMce-wrapper' style='font-size: 14px;line-height: 16px;' data-mce-style='font-size: 14px;line-height: 16px;'><p style='font-size: 14px;line-height: 16px;word-break: break-word;text-align: center;' data-mce-style='font-size: 14px;line-height: 16px;word-break: break-word;text-align: center;'><span style='font-size: 12px;line-height: 14px;' data-mce-style='font-size: 12px;line-height: 14px;'><strong><span style='line-height: 14px;' data-mce-style='line-height: 14px;'>(Your logo goes here. Drag an image here from the 'Content' section, then remove this text.)</span></strong></span></p></div>",
                                                             "style": {
                                                               "color": "#ff0000",
                                                               "font-family": "inherit",
                                                               "line-height": "120%"
                                                             }
                                                           }
                                                         },
                                                         "locked": false,
                                                         "type": "mailup-bee-newsletter-modules-text"
                                                       }
                                                     ],
                                     "style": {
                                       "background-color": "transparent",
                                       "border-bottom": "0px solid transparent",
                                       "border-left": "0px solid transparent",
                                       "border-right": "0px solid transparent",
                                       "border-top": "0px solid transparent",
                                       "padding-bottom": "25px",
                                       "padding-left": "35px",
                                       "padding-right": "35px",
                                       "padding-top": "25px"
                                     }
                                   }
                                 ],
                      "container": {
                        "style": {
                          "background-color": "transparent",
                          "background-image": "none",
                          "background-position": "top left",
                          "background-repeat": "no-repeat"
                        }
                      },
                      "content": {
                        "computedStyle": {
                          "hideContentOnDesktop": false,
                          "hideContentOnMobile": false,
                          "rowColStackOnMobile": true
                        },
                        "style": {
                          "background-color": "#ffffff",
                          "background-image": "none",
                          "background-position": "top left",
                          "background-repeat": "no-repeat",
                          "color": "#000000",
                          "width": "500px"
                        }
                      },
                      "locked": false,
                      "type": "row-1-columns-12"
                    },
                    {
                      "columns": [
                                   {
                                     "grid-columns": 12,
                                     "modules": [
                                                       {
                                                         "descriptor": {
                                                           "computedStyle": {
                                                             "align": "center",
                                                             "hideContentOnMobile": false
                                                           },
                                                           "divider": {
                                                             "style": {
                                                               "border-top": "1px solid #EEEEEE",
                                                               "width": "100%"
                                                             }
                                                           },
                                                           "style": {
                                                             "padding-bottom": "0px",
                                                             "padding-left": "0px",
                                                             "padding-right": "0px",
                                                             "padding-top": "0px"
                                                           }
                                                         },
                                                         "locked": false,
                                                         "type": "mailup-bee-newsletter-modules-divider"
                                                       },
                                                       {
                                                         "descriptor": {
                                                           "computedStyle": {
                                                             "hideContentOnMobile": false
                                                           },
                                                           "style": {
                                                             "padding-bottom": "25px",
                                                             "padding-left": "0px",
                                                             "padding-right": "0px",
                                                             "padding-top": "25px"
                                                           },
                                                           "text": {
                                                             "computedStyle": {
                                                               "linkColor": "#0068A5"
                                                             },
                                                             "html": "<div class='txtTinyMce-wrapper' style='font-size: 14px;line-height: 21px;' data-mce-style='font-size: 14px;line-height: 21px;'><p style='font-size: 14px;line-height: 21px;word-break: break-word;' data-mce-style='font-size: 14px;line-height: 21px;word-break: break-word;'><span style='font-size: 20px;line-height: 30px;' data-mce-style='font-size: 20px;line-height: 30px;'><strong><span style='line-height: 18px;' data-mce-style='line-height: 18px;'>This is a <u>header</u>. Clearly state the purpose of this email here.</span></strong></span></p></div>",
                                                             "style": {
                                                               "color": "#4f4f4f",
                                                               "font-family": "inherit",
                                                               "line-height": "150%"
                                                             }
                                                           }
                                                         },
                                                         "locked": false,
                                                         "type": "mailup-bee-newsletter-modules-text"
                                                       }
                                                     ],
                                     "style": {
                                       "background-color": "transparent",
                                       "border-bottom": "0px dotted transparent",
                                       "border-left": "0px dotted transparent",
                                       "border-right": "0px dotted transparent",
                                       "border-top": "0px dotted transparent",
                                       "padding-bottom": "0px",
                                       "padding-left": "35px",
                                       "padding-right": "35px",
                                       "padding-top": "0px"
                                     }
                                   }
                                 ],
                      "container": {
                        "style": {
                          "background-color": "transparent",
                          "background-image": "none",
                          "background-position": "top left",
                          "background-repeat": "no-repeat"
                        }
                      },
                      "content": {
                        "style": {
                          "background-color": "#ffffff",
                          "background-image": "none",
                          "background-position": "top left",
                          "background-repeat": "no-repeat",
                          "color": "#000000",
                          "width": "560px"
                        }
                      },
                      "locked": false,
                      "type": "row-1-columns-12"
                    },
                    {
                      "columns": [
                                   {
                                     "grid-columns": 12,
                                     "modules": [
                                                       {
                                                         "descriptor": {
                                                           "computedStyle": {
                                                             "align": "center",
                                                             "hideContentOnMobile": false
                                                           },
                                                           "divider": {
                                                             "style": {
                                                               "border-top": "1px solid #EEEEEE",
                                                               "width": "100%"
                                                             }
                                                           },
                                                           "style": {
                                                             "padding-bottom": "0px",
                                                             "padding-left": "0px",
                                                             "padding-right": "0px",
                                                             "padding-top": "0px"
                                                           }
                                                         },
                                                         "locked": false,
                                                         "type": "mailup-bee-newsletter-modules-divider"
                                                       },
                                                       {
                                                         "descriptor": {
                                                           "computedStyle": {
                                                             "hideContentOnMobile": false
                                                           },
                                                           "style": {
                                                             "padding-bottom": "25px",
                                                             "padding-left": "0px",
                                                             "padding-right": "0px",
                                                             "padding-top": "25px"
                                                           },
                                                           "text": {
                                                             "computedStyle": {
                                                               "linkColor": "#0068A5"
                                                             },
                                                             "html": "<div class='txtTinyMce-wrapper' style='font-size: 14px;line-height: 25px;' data-mce-style='font-size: 14px;line-height: 25px;'><p style='font-size: 14px;line-height: 25px;word-break: break-word;' data-mce-style='font-size: 14px;line-height: 25px;word-break: break-word;'><span style='font-size: 15px;line-height: 27px;' data-mce-style='font-size: 15px;line-height: 27px;'><span style='line-height: 21px;' data-mce-style='line-height: 21px;'>This is the <u><strong>main body</strong></u> of the email. Explain in more detail what this email is telling the recipient.</span></span></p><p style='font-size: 14px;line-height: 25px;word-break: break-word;' data-mce-style='font-size: 14px;line-height: 25px;word-break: break-word;'> </p><p style='font-size: 14px;line-height: 25px;word-break: break-word;text-align: justify;' data-mce-style='font-size: 14px;line-height: 25px;word-break: break-word;text-align: justify;'><span style='font-size: 15px;line-height: 27px;' data-mce-style='font-size: 15px;line-height: 27px;'><span style='line-height: 21px;' data-mce-style='line-height: 21px;'>This is some dummy text to show what this space might look like. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></span></p><p style='font-size: 14px;line-height: 25px;word-break: break-word;' data-mce-style='font-size: 14px;line-height: 25px;word-break: break-word;'> </p><p style='font-size: 14px;line-height: 25px;word-break: break-word;' data-mce-style='font-size: 14px;line-height: 25px;word-break: break-word;'><span style='font-size: 15px;line-height: 27px;' data-mce-style='font-size: 15px;line-height: 27px;'><span style='line-height: 21px;' data-mce-style='line-height: 21px;'>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span></span></p></div>",
                                                             "style": {
                                                               "color": "#363636",
                                                               "font-family": "inherit",
                                                               "line-height": "180%"
                                                             }
                                                           }
                                                         },
                                                         "locked": false,
                                                         "type": "mailup-bee-newsletter-modules-text"
                                                       }
                                                     ],
                                     "style": {
                                       "background-color": "transparent",
                                       "border-bottom": "0px dotted transparent",
                                       "border-left": "0px dotted transparent",
                                       "border-right": "0px dotted transparent",
                                       "border-top": "0px dotted transparent",
                                       "padding-bottom": "0px",
                                       "padding-left": "35px",
                                       "padding-right": "35px",
                                       "padding-top": "0px"
                                     }
                                   }
                                 ],
                      "container": {
                        "style": {
                          "background-color": "transparent",
                          "background-image": "none",
                          "background-position": "top left",
                          "background-repeat": "no-repeat"
                        }
                      },
                      "content": {
                        "style": {
                          "background-color": "#ffffff",
                          "background-image": "none",
                          "background-position": "top left",
                          "background-repeat": "no-repeat",
                          "color": "#000000",
                          "width": "560px"
                        }
                      },
                      "locked": false,
                      "type": "row-1-columns-12"
                    },
                    {
                      "columns": [
                                   {
                                     "grid-columns": 12,
                                     "modules": [
                                                       {
                                                         "descriptor": {
                                                           "computedStyle": {
                                                             "hideContentOnMobile": false
                                                           },
                                                           "style": {
                                                             "padding-bottom": "25px",
                                                             "padding-left": "0px",
                                                             "padding-right": "0px",
                                                             "padding-top": "25px"
                                                           },
                                                           "text": {
                                                             "computedStyle": {
                                                               "linkColor": "#0068A5"
                                                             },
                                                             "html": "<div class='txtTinyMce-wrapper' style='font-size: 14px;line-height: 25px;' data-mce-style='font-size: 14px;line-height: 25px;'><p style='font-size: 14px;line-height: 25px;word-break: break-word;' data-mce-style='font-size: 14px;line-height: 25px;word-break: break-word;'><span style='font-size: 15px;line-height: 27px;' data-mce-style='font-size: 15px;line-height: 27px;'><span style='line-height: 21px;' data-mce-style='line-height: 21px;'>This is the <u><strong>call to action</strong></u> of the email. Use this section to tell the recipient what they need to do next.</span></span></p></div>",
                                                             "style": {
                                                               "color": "#363636",
                                                               "font-family": "inherit",
                                                               "line-height": "180%"
                                                             }
                                                           }
                                                         },
                                                         "locked": false,
                                                         "type": "mailup-bee-newsletter-modules-text"
                                                       },
                                                       {
                                                         "descriptor": {
                                                           "button": {
                                                             "href": "",
                                                             "label": "<div class='txtTinyMce-wrapper' style='font-size: 12px;line-height: 24px;font-family: Verdana,Geneva,sans-serif;' data-mce-style='font-size: 12px;line-height: 24px;font-family: Verdana,Geneva,sans-serif;'><p style='font-size: 16px;line-height: 32px;word-break: break-word;font-family: Verdana,Geneva,sans-serif;' data-mce-style='font-size: 16px;line-height: 32px;word-break: break-word;'><span style='font-size: 15px;line-height: 30px;' data-mce-style='font-size: 15px;line-height: 30px;'><strong>This is an action button</strong></span></p></div>",
                                                             "style": {
                                                               "background-color": "#43cd2b",
                                                               "border-bottom": "0px solid transparent",
                                                               "border-left": "0px solid transparent",
                                                               "border-radius": "7px",
                                                               "border-right": "0px solid transparent",
                                                               "border-top": "0px solid transparent",
                                                               "color": "#ffffff",
                                                               "font-family": "Verdana, Geneva, sans-serif",
                                                               "line-height": "200%",
                                                               "max-width": "100%",
                                                               "padding-bottom": "10px",
                                                               "padding-left": "25px",
                                                               "padding-right": "25px",
                                                               "padding-top": "10px",
                                                               "width": "auto"
                                                             }
                                                           },
                                                           "computedStyle": {
                                                             "height": 52,
                                                             "hideContentOnMobile": false,
                                                             "width": 247
                                                           },
                                                           "style": {
                                                             "padding-bottom": "0px",
                                                             "padding-left": "0px",
                                                             "padding-right": "0px",
                                                             "padding-top": "0px",
                                                             "text-align": "center"
                                                           },
                                                           "text": {
                                                             "style": {
                                                               "font-family": "Verdana, Geneva, sans-serif"
                                                             }
                                                           }
                                                         },
                                                         "locked": false,
                                                         "type": "mailup-bee-newsletter-modules-button"
                                                       }
                                                     ],
                                     "style": {
                                       "background-color": "transparent",
                                       "border-bottom": "0px dotted transparent",
                                       "border-left": "0px dotted transparent",
                                       "border-right": "0px dotted transparent",
                                       "border-top": "0px dotted transparent",
                                       "padding-bottom": "40px",
                                       "padding-left": "35px",
                                       "padding-right": "35px",
                                       "padding-top": "0px"
                                     }
                                   }
                                 ],
                      "container": {
                        "style": {
                          "background-color": "transparent",
                          "background-image": "none",
                          "background-position": "top left",
                          "background-repeat": "no-repeat"
                        }
                      },
                      "content": {
                        "style": {
                          "background-color": "#eeeeee",
                          "background-image": "none",
                          "background-position": "top left",
                          "background-repeat": "no-repeat",
                          "color": "#000000",
                          "width": "560px"
                        }
                      },
                      "locked": false,
                      "type": "row-1-columns-12"
                    },
                    {
                      "columns": [
                                   {
                                     "grid-columns": 12,
                                     "modules": [
                                                       {
                                                         "descriptor": {
                                                           "computedStyle": {
                                                             "hideContentOnMobile": false
                                                           },
                                                           "style": {
                                                             "padding-bottom": "0px",
                                                             "padding-left": "0px",
                                                             "padding-right": "0px",
                                                             "padding-top": "0px"
                                                           },
                                                           "text": {
                                                             "computedStyle": {
                                                               "linkColor": "#0068A5"
                                                             },
                                                             "html": "<div class='txtTinyMce-wrapper' style='font-size: 14px;line-height: 21px;' data-mce-style='font-size: 14px;line-height: 21px;'><p style='line-height: 18px;word-break: break-word;' data-mce-style='line-height: 18px;word-break: break-word;'><span style='color:#ffffff;line-height: 18px;' data-mce-style='color:#ffffff;line-height: 18px;'>Contact us at </span><span style='color:#ffffff;line-height: 18px;' data-mce-style='color:#ffffff;line-height: 18px;'>{{email}}, </span><span style='color:#ffffff;line-height: 18px;' data-mce-style='color:#ffffff;line-height: 18px;'>or call us on {{phone}}.</span></p></div>",
                                                             "style": {
                                                               "color": "#555555",
                                                               "font-family": "inherit",
                                                               "line-height": "150%"
                                                             }
                                                           }
                                                         },
                                                         "locked": false,
                                                         "type": "mailup-bee-newsletter-modules-text"
                                                       },
                                                       {
                                                         "descriptor": {
                                                           "computedStyle": {
                                                             "hideContentOnMobile": false
                                                           },
                                                           "style": {
                                                             "padding-bottom": "25px",
                                                             "padding-left": "0px",
                                                             "padding-right": "0px",
                                                             "padding-top": "25px"
                                                           },
                                                           "text": {
                                                             "computedStyle": {
                                                               "linkColor": "#0068A5"
                                                             },
                                                             "html": "<div class='txtTinyMce-wrapper' style='font-size: 14px; line-height: 21px;font-family: inherit;' data-mce-style='font-size: 14px;line-height: 21px;font-family: inherit;'><p style='line-height: 18px;word-break: break-word;text-align: left;font-family: inherit;' data-mce-style='line-height: 18px;word-break: break-word;text-align: left;'><span style='color:#ffffff;line-height: 18px;' data-mce-style='color:#ffffff;line-height: 18px;'>Visit {{name}} at:</span></p><p style='line-height: 18px;word-break: break-word;text-align: left;font-family: inherit;' data-mce-style='line-height: 18px;word-break: break-word;text-align: left;'><span style='color:#ffffff;line-height: 18px;' data-mce-style='color:#ffffff;line-height: 18px;'>{{url}}</span><span style='color:#ffffff;background-color: transparent;line-height: 18px;' data-mce-style='color:#ffffff;background-color: transparent;line-height: 18px;'></span></p></div>",
                                                             "style": {
                                                               "color": "#555555",
                                                               "font-family": "inherit",
                                                               "line-height": "150%"
                                                             }
                                                           }
                                                         },
                                                         "locked": false,
                                                         "type": "mailup-bee-newsletter-modules-text"
                                                       }
                                                     ],
                                     "style": {
                                       "background-color": "transparent",
                                       "border-bottom": "0px solid transparent",
                                       "border-left": "0px solid transparent",
                                       "border-right": "0px solid transparent",
                                       "border-top": "0px solid transparent",
                                       "padding-bottom": "25px",
                                       "padding-left": "35px",
                                       "padding-right": "35px",
                                       "padding-top": "25px"
                                     }
                                   }
                                 ],
                      "container": {
                        "style": {
                          "background-color": "transparent",
                          "background-image": "none",
                          "background-position": "top left",
                          "background-repeat": "no-repeat"
                        }
                      },
                      "content": {
                        "computedStyle": {
                          "hideContentOnDesktop": false,
                          "hideContentOnMobile": false,
                          "rowColStackOnMobile": true
                        },
                        "style": {
                          "background-color": "transparent",
                          "background-image": "none",
                          "background-position": "top left",
                          "background-repeat": "no-repeat",
                          "color": "#000000",
                          "width": "500px"
                        }
                      },
                      "locked": false,
                      "type": "row-1-columns-12"
                    }
                  ],
          "template": {
            "name": "template-base",
            "type": "basic",
            "version": "2.0.0"
          },
          "title": ""
        }
      }
